.user-contact {
  margin-top: 16px;
}
.user-contact label {
  display: block;
  margin-top: 8px;
}
.form-header {
  color: var(--navyblue);
  text-align: center;
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.user-contact-label {
  color: var(--lightslate);
  /* Small Text */
  font-size: 12px;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  text-transform: capitalize;
}
.user-contact input,
.user-contact textarea {
  display: block;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  margin-top: 4px;
  width: 360px;
  padding-bottom: 11px;
  padding-top: 11px;
}
.user-contact input {
  padding-left: 34px;
  font-size: 12px;
}
.user-contact textarea {
  font-size: 12px;
  resize: none;
  height: 100px;
  border-radius: 4px;
  padding: 8px 17px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}
.form-agree-box_link {
  text-decoration: underline;
  color: var(--iris);
}

.user-contact input:focus,
.user-contact input:hover,
.user-contact textarea:hover,
.user-contact textarea:focus {
  border-color: var(--iris);
  border-radius: 4px;
  cursor: auto;
}
.user-contact input:focus + .form-icon,
.user-contact input:hover + .form-icon {
  color: var(--iris);
}
.user-contact-field-icon {
  color: var(--navyblue);
  position: absolute;
  margin-left: 16px;
  transform: translateY(-150%);
}
.form-button {
  font-size: 16px;
  padding: 16px 32px;
  border: none;
  font-weight: 500;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--ocean);
}
label.user-contact-checkbox {
  color: var(--lightslate);
  display: flex;
}
.form-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.user-contact-checkbox {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 360px;
  height: 16px;
  gap: 8px;
  margin-bottom: 24px;
}
.user-contact-checkbox input {
  width: 15px;
  height: 15px;
}
.checkbox-link {
  cursor: pointer;
  color: var(--iris);
  margin-left: 3px;
}
.checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid var(--lightslate);
  border-radius: 2px;
  padding: 1px;
  fill: currentColor;
  background-color: var(--white);
}
.visually-hidden {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
}
.checkbox-input:checked + .checkbox-icon {
  background-color: var(--ocean);
  border-color: var(--ocean);
}
/* modal window form*/
